body {
    font-family: "Roboto", sans-serif;
        color: #434455;
        background-color: #FFFFFF;
        font-weight: 400;
        font-size: 16px;
        font-style: normal;
        margin: 0;
        text-decoration: none;
}

.logo-header {
color: #4d5ae5;
    text-transform: uppercase;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;

}
a {
    text-decoration: none;
}
.span-studio {
    font-family: "Raleway", sans-serif;
font-weight: 700;
        line-height: 21;
        letter-spacing: 3%;
        color: #2E2F42;
        text-decoration: none;
}
.header-list:hover {
    color: #404bbf;
}
.header-list:focus {
        color: #404bbf;
}
.header-list {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #2e2f42 ;
    text-decoration: none;
line-height: 1.5;
letter-spacing: 0.02em;
}
.adress-list:hover {
    color: #404bbf;
}

.adress-list:focus {
    color: #404bbf;
}
.adress-list {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    color: #434455;
    text-decoration: none;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


ul li {
    list-style: none;
}
h2 {
    text-align: center;
}
.hero-main {
    text-align: center;    
     
        font-style: normal;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07;
        color: white;
        letter-spacing: 0.02em;
}
.section-main {

        background: #2E2F42;
}
.button-order:hover {
    background-color:#404BBF ;
}
.button-order:focus {
    background-color: #404BBF;
}
.button-order {
    color: #FFFFFF;
background-color: #4D5AE5;
font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    cursor: pointer;
}
.hero-benefits {
    font-size: 56px;
    line-height: 1.07;
    text-align: center;
    letter-spacing: 0.02em;
    color: #ffffff;
}
.section-benefits {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.p-benefits {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.section-team-back {
    background-color: #F4F4FD;
}
.section-team-main {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
.section-team-info {
    background-color: #FFFFFF;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: #2e2f42;
    letter-spacing: 0.02em;
}
.hero-team {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}
.p-team {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}
.portfolio {
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: #2e2f42;
}
 .hero-portfolio {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
 }
 .p-portfolio {
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
 }
.footer-back {
    background-color: #2e2f42;
}
.logo-footer {
font-family: "Raleway", sans-serif;
font-weight: 700;
font-size: 18px;
line-height: 1.17;
letter-spacing: 0.03em;
text-transform: uppercase;
color: #4d5ae5;
}
.span-footer {
color: #f4f4fd;
}
.p-footer {
    line-height: 1.5;
    color: #F4F4FD;
    letter-spacing: 0.02em;
}